#kaz-av-dialog {
    z-index: 9999999;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    margin-left: -200px;
    height: 300px;
    margin-top: -150px;
    border: 1px solid black;
    background-color: #FFF;
    padding: 20px;
}

#kaz-av-dialog p {
    font-size: 1.2em;
}

#kaz-av-dialog button {
    font-weight: bold;
    font-size: 1.4em;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 40%;
    margin: 5%;
}

#kaz-av-dialog .confirm {
    background: #a7e9af;
    /*background: #75b79e;*/
}

#kaz-av-dialog .cancel {
    background: #f67280;
}

#kaz-av-backdrop {
    z-index: 9999998;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}