#kaz-av-dialog {
    z-index: 9999999;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    margin-left: -200px;
    height: 300px;
    margin-top: -150px;
    border: 1px solid black;
    background: #FFF;
    padding: 10px;
}
